@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Rolagem suave */
  }
  
  html {
    font-size: 16px; /* Facilita o uso de rem */
  }

  /* Estilizando a barra de rolagem para navegadores WebKit */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo do trilho da barra */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(8, 37, 57);; /* Cor do polegar (parte que se move) */
    border-radius: 10px; /* Arredondamento das bordas */
    border: 2px solid #f1f1f1; /* Adiciona uma borda */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(7, 54, 85);; /* Cor ao passar o mouse */
  }
  